<!-- Recent Transactions -->
<div class="col-12">
  <div id="dashboard_recent-events" class="">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Последние события</h4>
        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li>
              <a class="btn btn-sm btn-primary box-shadow-2 round btn-min-width pull-right" href="#" target="_blank">
                Все события
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content">
        <div style="max-width: 960px; margin: auto;" class="table-responsive table-hover">
          <table id="recent-orders" class="table">
            <thead>
            <tr>
              <th class="border-top-0">Магазин</th>
              <th class="border-top-0">Тип</th>
              <th class="border-top-0 text-center">Фото</th>
              <th class="border-top-0">Категория</th>
              <th class="border-top-0">Сумма</th>
              <th class="border-top-0">Дата</th>
            </tr>
            </thead>
            <tbody>
            <% stores.each do |store| %>
              <% store.events.each do |event| %>
                <%= render partial: 'event', locals: { event: event.decorate, store: store } %>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Recent Transactions -->