<div class="row">
  <div class='p-0'>
    <div id="date-range-picker">
      <%= form_tag(path, id: 'date-picker', format: :turbo_stream, method: :get) do %>
        <div class="input-group-append">
          <span></span>
          <%= text_field :date, :range, name: 'date_range', class: 'form-control daterange' %>
          <span class="input-group-text">
              <span class="la la-calendar"></span>
            </span>
        </div>
        <%= submit_tag "Submit", hidden: true, id: 'date-submit', data: { turbo_frame: "#{frame_name}" } %>
      <% end %>

      <!--        <form method='get' enctype='multipart/form-data' id='date-picker'>-->
      <!--          <input type="text" value="01/01/2018 - 01/15/2018"/>-->
      <!--        </form>-->
    </div>
  </div>
</div>
