<div id="<%= dom_id supply_product %>">
  <p>
    <strong>Product:</strong>
    <%= supply_product.product_id %>
  </p>

  <p>
    <strong>Supply:</strong>
    <%= supply_product.supply_id %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= supply_product.count %>
  </p>

</div>
