<div id="<%= dom_id unit_economic %>">
  <p>
    <strong>Supply:</strong>
    <%= unit_economic.supply_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= unit_economic.data %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= unit_economic.date %>
  </p>

</div>
