<h1>User Settings</h1>

<dl>
  <dt>Data:</dt>
  <dd><%= @user_setting.data %></dd>
</dl>
<!--<%#= link_to 'Edit', edit_user_setting_path(@user_setting) %> |-->
<%#= link_to 'Back', user_settings_path %>
