<div id="<%= dom_id source_report %>">
  <p>
    <strong>Store:</strong>
    <%= source_report.store_id %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= source_report.url %>
  </p>

  <p>
    <strong>Report type:</strong>
    <%= source_report.report_type %>
  </p>

</div>
