<div id="<%= dom_id market %>">
  <p>
    <strong>Name:</strong>
    <%= market.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= market.slug %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= market.data %>
  </p>

</div>
