<h1>Editing Campaigns</h1>


<%= render 'form', campaign: @campaign %>

<%= link_to 'Show', market_campaign_path(@market, @campaign) %> |
<%= link_to 'Back', market_campaign_path(@market, @campaign) %>
