<div class="card">
  <div class="container">
    <h1>Sales</h1>
    <div class="p-2"><%= (ap @sale.api_data).html_safe %></div>
    <!--    <dl>-->
    <!--      <dt>Api data:</dt>-->
    <!--      <dt>Excel data:</dt>-->
    <!--      <dd><%#= @sale.excel_data %></dd>-->
    <!--      <dt>Date:</dt>-->
    <!--      <dd><%#= @sale.date %></dd>-->
    <!--    </dl>-->
    <% if @sale.audits.count > 1 %>
      <h3>Versions</h3>
      <% @sale.audits.each do |audit| %>
        <% hash1, hash2 = audit.audited_changes.values.flatten %>
        <% byebug %>
        <%= (ap Tools::HashDiff.call(hash1, hash2)).html_safe %>
      <% end %>
    <% end %>
    <%= link_to 'Back', store_orders_path %>

  </div>
</div>