<div class="row">
  <div class='-0'>
    <div id="date-range-picker">
      <%= form_tag(@path, id: 'date-picker', method: :get) do %>
        <div class="input-group-append">
          <!--          <span></span>-->
          <%= text_field :date, :range, name: 'date_range', class: 'form-control daterange',
                         data: {
                           controller: 'dateRange',
                           'dateRange-target': 'date_range'
                         } %>
          <span class="input-group-text">
              <span class="la la-calendar"></span>
            </span>
        </div>

        <%= submit_tag "Submit", hidden: true, id: 'date-submit', data: { action: 'click->dateRange#submit',
                                                                          turbo_frame: "#{@frame_name}" } %>
      <% end %>

      <!--        <form method='get' enctype='multipart/form-data' id='date-picker'>-->
      <!--          <input type="text" value="01/01/2018 - 01/15/2018"/>-->
      <!--        </form>-->
    </div>
  </div>
</div>
